*:focus{
    outline: 0;
}

.help-text{
    display:none;
}

input, textarea, select, option{
    font-family:inherit;
    font-size:inherit;
    letter-spacing:inherit;
    font-weight:inherit;
    border:none;
    padding:0;
    margin:0;
    border-radius:0;
    background:none;
}

button{
    border:none;
    background:none;
    
    padding:0;
    margin:0;
    border-bottom:1px dotted #666;
}
button:hover{
    border-bottom:1px dotted #666;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16pt;
    background-color:#fff;
}

header{
    background:#ececec;
    padding:24px 0 28px 12px;
    margin:0 0 24px 0;
    position:relative;
}

header i.logo{
    padding:0;
    margin:0 0 0 12px;
    width:80px;
    height:106px;
    background: #ececec url('../img/1444614868_file.png') no-repeat -24px -12px;
    display:block;
    float:left;
}

.logo2{
    color:#90caf9;
    font-size:60pt;
    font-family: "FontAwesome";
    position:absolute;
    top:20px;
    left:30px;
}

header h1{
    color:#272727;
    font-size:2em;
    letter-spacing: -.025em;
    margin:0 0 0 112px;
    display:block;
}
header h2{
    color:#333;
    font-size:1.5em;
    letter-spacing: -.025em;
    font-weight:100;
    margin:0 0 0 112px;
    display:block;
}
.page{
    letter-spacing: -.025em;
    background-color:#fff;
    width:60vw;
    margin:0 0 0 5vw;
    font-weight:100;
    clear:both;
}

article{
    margin:0;
    padding:0;
}

label{
    margin:1em 0 0.25em 0;
    display:block;
    font-size:2em;
    font-weight:100;
    letter-spacing: -.025em;
    line-height:1.1em;
    clear:both;
    padding:0;
}

.sublabel{
    display:block;
}

.sublabel.inline{
    display:inline-block;
}

.textarea{
    /*prevent displaying vertical scrollbars*/
    overflow-y:hidden;
}

.input, .textarea{
    border:none;
    border-bottom:2px solid black;
    display:inline-block;
    width:16em;
    font-family:inherit;
    font-size:1.5em;
    margin:0 0 0.5em 0;
}

.input:focus, .textarea:focus{
    border-bottom:2px solid #555;
}

.chooser-container{
    display:inline-block;
}

.chooser{
    display:inline-block;
}

.select-chooser{
    display:none;
    /*outline:dotted 1px #666;*/
    min-width:20em;
}

.motion{
    display:flex;
    flex-direction:row;
}

.mover, .seconder{
    display:block;
}

.mover{
    margin-right:2em;
}

.mover input, .seconder input, .short{
    display:block;
    width:7.4em;
}

.faded, .faded .input, .faded .textarea {
    color:#999;
    border-bottom-color:#999 !important;
}

button{
    border:1px dotted #999;
    border-radius:4px;
    color:inherit;
}

.btn-no{
    margin-left:0.5em;
}

button:hover{
    border: 1px dotted #666;
    border-radius:4px;
    color:#999;
}

.btn-yes, .btn-no {
    padding:0 2px 3px 3px;
    border:2px solid transparent;
    border-radius:16px;
}

.btn-yes:hover, .btn-no:hover {
    border: 2px dotted #666;
    border-radius:16px;
    color:#999;
}

.btn-yes:focus, .btn-no:focus {
    outline: 1px dotted #666;
}

.btn-no {
    padding:0 4px 3px 5px;
}

.btn-yes.selected, .btn-no.selected {
    border: 2px solid #666;
    color:inherit;
}

.word-icon{
    padding:0;
    margin:0;
    width:128px;
    height:128px;
    background: #ececec url('../img/1445232677_Word_15.png') no-repeat 0 0;
    display:block;
}

.word-icon:hover{
    cursor:pointer;
}


/*i.help{
    display:block;
    flex-grow:0;
    flex-shrink:0;
    font-style:normal;
    font-weight:100;
    color:#90caf9;
    height:28px;
    width:28px;
    background-color:#fff;
    text-align:center;
    border-radius:16px;
    cursor:default;
}*/

article{
    position:relative;
}

.relative{
    position:relative;
}

#help-sidebar{
    letter-spacing: -.025em;
    display:block;
    position:fixed;
    top:0.5em;
    right:0.5em;
    width:27vw;
    line-height:1.1em;
    font-weight:100;
    color:#000;
    background-color:#90caf9;
    border-radius:4px;
    border: 1px solid #90caf9;
    /*opacity:0.95;*/
    overflow:hidden;
    box-shadow: 2px 2px 2px #666;
}

#help-content{
    margin:1.5em 0.75em;
}

#help-sidebar.collapsed #help-content{
    display:none;
}

#help-sidebar.expanded #help-content{
    display:block;
}

#help-sidebar.expanded{
    height:auto;
}

#help-sidebar.collapsed{
    height:2em;
    width:2em;
}

#help-sidebar article{
    /*border: 2px solid transparent;*/
    /*padding:0.5em;*/
}


#help-sidebar h2{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin:0 0 0.2em 0;
    display:inline-block;
    font-size:1.5em;
    font-weight:100;
    letter-spacing: -.025em;
    line-height:1.1em;
    padding:0;
    color:#000;
}

p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin:0 0 0.6em 0;
}

#help-close-btn-container{
    font-family: "FontAwesome";
    position:absolute;
    top:0.5em;
    right:0.55em;
    /*padding:0.5em 0.55em 0.5em 0.5em;*/
    text-align:right;
    width:1em;
    height:1em;
}

#help-sidebar.collapsed #help-close-btn-container::before{
    content: "\f059";
}

#help-sidebar.expanded #help-close-btn-container::before{
    content: "\f00d";
}

#help-close-btn-container:hover {
    /*color:#eee;*/
    cursor:pointer;
}

#general-help{
    font-size:0.8em;
    color:#666;
}