*:focus{
    outline: 0;
}

input, textarea, select, option{
    font-family:inherit;
    font-size:inherit;
    letter-spacing:inherit;
    font-weight:inherit;
    border:none;
    padding:0;
    margin:0;
    border-radius:0;
    background:none;
}

button{
    border:none;
    background:none;
    
    padding:0;
    margin:0;
    border-bottom:1px dotted #666;
}
button:hover{
    border-bottom:1px dotted #666;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16pt;
    background-color:#fff;
}

header{
    background:#ececec;
    padding:24px 0 28px 12px;
    margin:0 0 24px 0;
}

header i.logo{
    padding:0;
    margin:0 0 0 12px;
    width:80px;
    height:106px;
    background: #ececec url('../img/1444614868_file.png') no-repeat -24px -12px;
    display:block;
    float:left;
}

header h1{
    color:#272727;
    font-size:2em;
    /*line-height: 1.6em;*/
    letter-spacing: -.025em;
    margin:0 0 0 112px;
    display:block;
}
header h2{
    color:#333;
    font-size:1.5em;
    /*line-height: 1.6em;*/
    letter-spacing: -.025em;
    /*font-style:italic;*/
    
    font-weight:100;
    margin:0 0 0 112px;
    display:block;
}
.page{
    /*text-align:center;*/
    letter-spacing: -.025em;
    background-color:#fff;
    /*box-shadow:10px 10px 10px 5px black;*/
    /*width:80vw;*/
    min-height:200vh;
    margin:0 0 0 5vw;
    font-weight:100;
    clear:both;
}
/*.btn {
    border:none;
    background: #3498db;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
            
}

.btn:hover {
    background: #3cb0fd;
    text-decoration: none;
}*/

article{
    margin:0;
    padding:0;
}

label{
    margin:1em 0 0.25em 0;
    display:block;
    font-size:2em;
    letter-spacing: -.025em;
    line-height:1.1em;
    width:100%;
}

.textarea{
    /*prevent displaying vertical scrollbars*/
    overflow-y:hidden;
}

.input, .textarea{
    border:none;
    border-bottom:2px solid black;
    display:block;
    width:16em;
    font-family:inherit;
    font-size:1.5em;
    margin:0 0 0.5em 0;
}

.input:focus, .textarea:focus{
    border-bottom:2px solid #555;
}

.chooser-container{
    display:inline-block;
}

.chooser{
    display:inline-block;
}

.select-chooser{
    display:none;
    /*outline:dotted 1px #666;*/
    min-width:20em;
}

.motion{
    display:flex;
    flex-direction:row;
}

.mover, .seconder{
    display:block;
}

.mover{
    margin-right:2em;
}

.mover input, .seconder input, .short{
    display:block;
    width:7.3em;
}

.faded, .faded .input, .faded .textarea {
    color:#999;
    border-bottom-color:#999 !important;
}

.checkbox{
    display:block;
    zoom:1.9;
}

.checkbox:focus, button:focus{
    outline:1px dotted #90caf9;
    /*border-radius:4px;*/
    color:#999;
}

button{
    border:1px dotted #999;
    border-radius:4px;
    color:inherit;
}

.btn-no{
    margin-left:0.5em;
}

button:hover{
    border: 1px dotted #666;
    border-radius:4px;
    color:#999;
}

.btn-yes, .btn-no {
    padding:0 3px;
    border:1px solid transparent;
}

.btn-yes.selected, .btn-no.selected {
    border: 1px solid #666;
    border-radius:4px;
    color:inherit;
}

.word-icon{
    padding:0;
    margin:0;
    width:128px;
    height:128px;
    background: #ececec url('../img/1445232677_Word_15.png') no-repeat 0 0;
    display:block;
}

.word-icon:hover{
    cursor:pointer;
}

