*:focus{
    outline: 0;
}

input, textarea, select, option{
    font-family:inherit;
    font-size:inherit;
    letter-spacing:inherit;
    font-weight:inherit;
    border:none;
    padding:0;
    margin:0;
    border-radius:0;
    background:none;
}

button{
    border:none;
    background:none;
    
    padding:0;
    margin:0;
    border-bottom:1px dotted #666;
}
button:hover{
    border-bottom:1px dotted #666;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16pt;
    background-color:hsl(240,100%,1%);
}

a {
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    /*background: hsl(240,100%,1%) url('../img/keyboard-full.jpg') repeat 0 0;*/
    background-image:url('../img/keyboard-full.jpg');
    background-size: 100%;
    /*background-color: hsl(240,100%,1%);*/
    background-repeat: repeat;
    color:#fff;
    height:100vh;
    /*width:100vw;*/
    text-shadow: 1px 1px 1px #000;
}

.logo2{
    color:#fff;
    font-size:3.7em;
    font-family: "FontAwesome";
    position:absolute;
    top:10px;
    left:20px;
}

header h1{
    color:#fff;
    font-size:2em;
    letter-spacing: -.025em;
    position:absolute;
    top:-10px;
    left:105px;
}
header h2{
    color:#fff;
    font-size:1.5em;
    letter-spacing: -.025em;
    font-weight:100;

    position:absolute;
    top:40px;
    left:105px;
}

#start-btn {
    position:absolute;
    top:300px;
    left:-300px;
    color:#fff;
    border: 2px solid #fff;
    border-radius:3px;
    display:block;
    text-decoration:none;
    text-transform:uppercase;
    font-size:0.8em; 
    padding:0.5em 0.7em;
    background-color:transparent;

    width: 300px;
    -webkit-transition-timing-function: ease-out;
    transition-delay: 1s;
    transition: left 1s;
}

#start-btn:hover{
    background: url('../img/FFFFFF-0.2.png') repeat 0 0;
    cursor:pointer;
}

.loaded #start-btn{
    left:20px;
}

#page{
    letter-spacing: -.025em;
    /*background-color:hsl(240,100%,1%);*/
    width:64vw;
    font-weight:100;
    clear:both;
}

#page .page-inner{
    padding:1em 1em;
    background-color:#fff;
}

article{
    margin:0;
    padding:0;
}

label{
    margin:0 0 0.25em 0;
    display:block;
    font-size:2em;
    font-weight:100;
    letter-spacing: -.025em;
    line-height:1.1em;
    clear:both;
    padding:0.5em 0 0 0;
}

.sublabel{
    display:block;
}

.sublabel.inline{
    display:inline-block;
}

.textarea{
    /*prevent displaying vertical scrollbars*/
    overflow-y:hidden;
}

.input, .textarea{
    border:none;
    border-bottom:2px solid black;
    display:inline-block;
    width:17.4em;
    font-family:inherit;
    font-size:1.5em;
    margin:0 0 0.5em 0;
}

.input:focus, .textarea:focus{
    border-bottom:2px solid #555;
}

.chooser-container{
    display:inline-block;
}

.chooser{
    display:inline-block;
}

.select-chooser{
    display:none;
    min-width:20em;
}

.motion{
    /*display:flex;
    flex-direction:row;*/
}

.mover, .seconder{
    display:block;
}

.mover{
    margin-right:2em;
}

.mover input, .seconder input, .short{
    display:block;
    width:8em;
}

.faded, .faded .input, .faded .textarea {
    color:#999;
    border-bottom-color:#999 !important;
}

button{
    border:1px dotted #999;
    border-radius:4px;
    color:inherit;
}

.btn-no{
    margin-left:0.5em;
}

button:hover{
    border: 1px dotted #666;
    border-radius:4px;
    color:#999;
}

.btn-yes, .btn-no {
    padding:0 2px 3px 3px;
    border:2px solid transparent;
    border-radius:16px;
}

.btn-yes:hover, .btn-no:hover {
    border: 2px dotted #666;
    border-radius:16px;
    color:#999;
}

.btn-yes:focus, .btn-no:focus {
    outline: 1px dotted #666;
}

.btn-no {
    padding:0 4px 3px 5px;
}

.btn-yes.selected, .btn-no.selected {
    border: 2px solid #666;
    color:inherit;
}

.word-icon{
    padding:0;
    margin:0;
    width:128px;
    height:128px;
    background: #ececec url('../img/1445232677_Word_15.png') no-repeat 0 0;
    display:block;
}

.word-icon:hover{
    cursor:pointer;
}

article{
    position:relative;
}

.relative{
    position:relative;
}

#help-sidebar{
    position:absolute;
    top:100vh;
    right:0;
    z-index:101;
    width:35vw;
    font-weight:100;
    color:#fff;
    /*opacity:0.95;*/
}

#help-content{
    margin:20px 1em 0 1em;
}

#help-content .article{
    display:none;
}

/*#help-sidebar.collapsed #help-content{
    display:none;
}

#help-sidebar.expanded #help-content{
    display:block;
}

#help-sidebar.expanded{
    height:100vh;
}

#help-sidebar.collapsed{
    height:2em;
    width:2em;
}*/

#help-sidebar h2{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin:0 0 0.3em 0;
    display:inline-block;
    font-size:1.5em;
    font-weight:100;
    letter-spacing: -.025em;
    line-height:1.1em;
    padding:0;
    color:#ddd;
    border-bottom:1px dotted #fff;
}

#help-sidebar p{
    /*letter-spacing: -.025em;*/
    line-height:1.2em;
    /*color:hsl(206,89%,77%);*/
    color:#fff;
}

#help-sidebar .todo{
    color:#fff;
}

#help-sidebar #general-help{
    font-size:0.8em;
    color:#aaa;
}

p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin:0 0 0.6em 0;
}

/*#help-close-btn-container{
    
    position:absolute;
    top:0;
    right:0;
    width:50px;
    height:50px;
    z-index:200;
    display:none;
}*/

/*#help-close-btn-container-icon {
    font-family: "FontAwesome";
    position:absolute;
    top:10px;
    left:16px;
    padding: 0 0.15em;
    border: 1px dotted transparent;
    border-radius:2px;
}*/

/*#help-sidebar.collapsed #help-close-btn-container-icon::before{
    content: "\f059";
}

#help-sidebar.expanded #help-close-btn-container-icon::before{
    content: "\f00d";
}

#help-close-btn-container-icon:hover{
    border: 1px dotted #fff;
}

#help-close-btn-container:hover {
    cursor:pointer;
}*/

.big-quote::before{
    font-family: "FontAwesome";
    font-size: 1.5em;
    content: "\f10d";
}

.big-quote::after{
    font-family: "FontAwesome";
    font-size: 1.5em;
    content: "\f10e";
}

.big-quote{
    font-style:normal;
    color:hsl(206,89%,77%);
}

